/* 	********************************
	/////////////SERVICES///////////
	********************************  */
.services {
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.services h2 {
    font-size: 2.143em;
}

.services span {
    color: #26a65b;
}

.services > p {
    width: 50%;
    margin: 0 auto;
    line-height: 30px;
}

.services article {
    width: 30%;
    display: inline-block;
    margin: 15px 10px;
    vertical-align: top;
}

.services article h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.429em;
    text-align: left;
    padding-left: 10px;
}

.services article p {
    text-align: left;
    font-weight: lighter;
    font-size: 1.071em;
    line-height: 30px;
}

.service-icon-1 {
    background: url(../images/icons/service_icon1.png) no-repeat center center;
}

.service-icon-2 {
    background: url(../images/icons/service_icon2.png) no-repeat center center;
}

.service-icon-3 {
    background: url(../images/icons/service_icon3.png) no-repeat center center;
}

.services article span {
    border: 1px solid #26a65b;
    border-radius: 50px;
    display: inline-block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    position: relative;
    margin: 0 15px 0 0;
    transition: background-color 0.5s ease;
}

.services article:hover span {
    background-color: #26a65b;
}

@media screen and (max-width: 765px) {
    .services article {
        width: 40%;
    }

    .services article .icon {
        display: block;
        text-align: center;
    }

    .services article span {
        float: none;
        margin: 25px 0 0 0;
    }

    .services article h3 {
        text-align: center;
    }
}

@media screen and (max-width: 565px) {
    .services p {
        width: 70%;
    }

    .services article {
        display: block;
        width: 100%;
        margin: 0;
    }

    .services article p {
        display: block;
        width: 100%;
        text-align: center;
    }

}

/* 	*************************************
	/////////////PEOPLE OPINION//////////
	********************************  */
.people-about-us {
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.people-about-us h2 {
    font-size: 2.143em;
}

.people-about-us span {
    color: #26a65b;
}

.people-about-us > p {
    width: 50%;
    margin: 0 auto;
    line-height: 30px;
}

.people-about-us article {
    margin: 20px 10px 0 10px;
    width: 30%;
    display: inline-block;
}

.people-about-us article img {
    float: left;
    margin: 0 15px 0 0;
}

.people-about-us article h3 {
    font-size: 1.214em;
    text-align: left;
    margin-bottom: 0;
}

.people-about-us article p {
    font-size: 0.929em;
    font-style: italic;
    color: #666;
    text-align: left;
    margin-top: 25px;
}

.people-about-us article span {
    color: #666;
    text-align: left;
    display: block;
}

.people-about-us article:hover span {
    color: #26a65b;
}

@media screen and (max-width: 565px) {
    .people-about-us p {
        width: 70%;
    }
}