/* 	********************************
    /////////////PLANS//////////
    ********************************  */
.plans {
    text-align: center;
}

.plans article {
    border: 2px solid #d6ddd9;
    display: inline-block;
    width: 17%;
    text-align: center;
    vertical-align: top;
    margin: 15px 10px;
    padding: 20px 5px;
    transition: all 0.4s ease;
}

.plans article:hover {
    border: 2px solid #FFFFFF;
    box-shadow: 3px 3px 20px #AAA;
}

.plans h3 {
    font-size: 1.429em;
}

.plans img {
    margin: 15px 0;
}

.plans ul li {
    list-style-type: none;
    text-align: left;
    margin: 5px 0;
}

.fa-times {
    color: red;
}

.fa-check {
    color: green;
}

.plans article span {
    display: block;
    margin: 20px 0;
    font-size: 1.786em;
    font-weight: bold;
}

.plans button {
    font-size: 1.1em;
    background: none;
    border: 1px solid #26A65B;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 15px 0;
    transition: all 0.4s ease;
}

.plans button:hover {
    background-color: #26A65B;
    color: #FFFFFF;
}

.plans h2 {
    font-size: 2.143rem;
}

.plans h2 span {
    color: #26a65b;
}

.plans > p {
    width: 50%;
    margin: 0 auto;
    line-height: 30px;
}

@media screen and (max-width: 935px) {
    .plans article {
        width: 30%;
        margin: 30px 15px;
    }
}

@media screen and (max-width: 587px) {
    .plans article {
        width: 80%;
        margin: 15px auto;
    }
}

/* 	********************************
    /////////////FAQ//////////
    ********************************  */
.faq {
    text-align: center;
    margin: 40px 0;
}

.faq h2 {
    font-size: 2.143em;
}

.faq article {
    background-color: #F5F0F0;
    width: 40%;
    margin: 10px;
    display: inline-block;

    padding: 5px 15px;
    color: #4d4b4b;
}

.faq article h3 {
    font-size: 1.714em;
    text-align: left;
}

.faq article p {
    font-size: 1.071em;
    text-align: justify;
}

@media screen and (max-width: 1134px) {
    .faq {
        margin: 0 auto;
        padding: 40px;
        box-sizing: border-box;
    }

    .faq article {
        display: block;
        width: 100%;
        margin: 50px 0;
        padding: 5px 10px 5px 10px;
        box-sizing: border-box;
    }

    .faq article h3, .faq article p {
        text-align: center;
    }
}